<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Scores for Herb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Stats for Kevin</h1>
    <form method="POST" action="/submit_date_stats">
        <label for="input_date">Date:</label>
        <input type="text" id="input_date" name="input_date" required>
        <input type="submit" value="Submit">
    </form>
    <div class="leaderboard-grid">
        {% for i in range(0, leaderboards|length, 4) %}
            <div class="leaderboard-row">
                {% for lb in leaderboards[i:i+4] %}
                    <div class="leaderboard-item"><pre>{{ lb }}</pre></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>     
</body>
</html>