<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Scores for Herb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Stats for Kevin</h1>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <!-- Left side: Submit Date Form -->
        <form method="POST" action="/submit_date" style="display: flex; align-items: center; gap: 5px;">
            <label for="input_date">Date:</label>
            <input type="text" id="input_date" name="input_date" required>
            <input type="submit" value="Submit">
        </form>
    
        <!-- Right side: Go to About Button -->
        <a href="{{ url_for('index') }}">
            <button type="button">Go to Box Scores</button>
        </a>
    </div>
    <div class="leaderboard-grid">
        {% for i in range(0, leaderboards|length, 4) %}
            <div class="leaderboard-row">
                {% for lb in leaderboards[i:i+4] %}
                    <div class="leaderboard-item"><pre>{{ lb }}</pre></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>     
</body>
</html>